@import './root.css';
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans-bold.woff2') format("woff2"), url('../fonts/opensans-bold.woff') format("woff"), url('../fonts/opensans-bold.eot') format("eot"), url('../fonts/opensans-bold.ttf') format("ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans-extrabold.woff2') format("woff2"), url('../fonts/opensans-extrabold.woff') format("woff"), url('../fonts/opensans-extrabold.eot') format("eot"), url('../fonts/opensans-extrabold.ttf') format("ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans-italic.woff2') format("woff2"), url('../fonts/opensans-italic.woff') format("woff"), url('../fonts/opensans-italic.eot') format("eot"), url('../fonts/opensans-italic.ttf') format("ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans-light.woff2') format("woff2"), url('../fonts/opensans-light.woff') format("woff"), url('../fonts/opensans-light.eot') format("eot"), url('../fonts/opensans-light.ttf') format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans-lightitalic.woff2') format("woff2"), url('../fonts/opensans-lightitalic.woff') format("woff"), url('../fonts/opensans-lightitalic.eot') format("eot"), url('../fonts/opensans-lightitalic.ttf') format("ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans-regular.woff2') format("woff2"), url('../fonts/opensans-regular.woff') format("woff"), url('../fonts/opensans-regular.eot') format("eot"), url('../fonts/opensans-regular.ttf') format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Medium.eot');
    src: url('../fonts/OpenSans-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-MediumItalic.eot');
    src: url('../fonts/OpenSans-MediumItalic.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-MediumItalic.woff2') format("woff2"), url('../fonts/OpenSans-MediumItalic.woff') format("woff"), url('../fonts/OpenSans-MediumItalic.ttf') format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans-semibold.woff2') format("woff2"), url('../fonts/opensans-semibold.woff') format("woff"), url('../fonts/opensans-semibold.eot') format("eot"), url('../fonts/opensans-semibold.ttf') format("ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Delius Unicase";
    src: url('../fonts/DeliusUnicase-Bold.eot');
    src: url('../fonts/DeliusUnicase-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/DeliusUnicase-Bold.woff2') format("woff2"), url('../fonts/DeliusUnicase-Bold.woff') format("woff"), url('../fonts/DeliusUnicase-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Delius Unicase";
    src: url('../fonts/DeliusUnicase-Regular.eot');
    src: url('../fonts/DeliusUnicase-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/DeliusUnicase-Regular.woff2') format("woff2"), url('../fonts/DeliusUnicase-Regular.woff') format("woff"), url('../fonts/DeliusUnicase-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

body{
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: subpixel-antialiased;
}

#app{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.container{
    max-width: 1830px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-1200{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: calc(100vh - 51px);
    height: 100%;
}

.login_box input:hover, .login_box input:focus {
    box-shadow: 0 0 12px rgba(var(--login-box-shadow), 0.12);
    border-color: var(--color-white);
}
.login_box input:hover, .login_box textarea:hover {
    border: 1px solid rgba(var(--login-box-hover), 0.35);
}
.login_box input, .login_box textarea {
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    min-height: 38px;
    margin: 0;
    padding: 5px 16px;
    border: 1px solid var(--color-white-gray);
    outline: none;
    border-radius: 5px;
    background-color: var(--color-white-grey);
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: var(--color-black);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bg_black{
    background-color: var(--color-gray);
}
.color_white{
    color: var(--color-white);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    text-transform: none;
    text-shadow: none;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0 0.25em;
    padding: 0.55em 1.5em;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
    gap: 5px;
}

.btn svg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background: var(--color-blue);
}

.btn_blue{
    background: var(--color-blue);
}

.transition {
    animation-iteration-count: 1;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.btn.sky{
    background: var(--color-sky);
    color: var(--color-blue);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_only_icon{
    width: 36px;
    min-width: 36px;
    height: 36px;
    padding: 0;
}
.btn svg{
    fill: var(--color-white);
}
.btn.sky svg{
    fill: var(--color-blue);
}

section{
    padding: 0 20px;
}

.tt{
    text-transform: uppercase;
}

.bg_gray{
    background: var(--btn-gray);
}
.bg_green{
    background: rgb(var(--btn-green));
}
.bg_red{
    background: rgb(var(--btn-red)) !important;
}
.bg_blue{
    background: rgb(var(--btn-blue));
}
.bg_orange{
    background: rgb(var(--btn-orange));
}
.color_gray{
    color: var(--main-color-gray);
}
.color_grey{
    color: var(--main-color-grey);
}
.color_green{
    color: var(--main-color-green);
}
.color_red{
    color: var(--main-color-red) !important;
}
.color_blue{
    color: var(--main-color-blue);
}
.color_orange{
    color: var(--main-color-orange);
}
.color_link{
    color: var(--main-color-link);
}

button{
    background: none;
    border: none;
    cursor: pointer;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.h100{
    height: 100%;
}

.btn-icon-text{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 2px 0;
    padding: 2px 8px;
    white-space: nowrap;
    text-align: left;
    line-height: 1.6;
    font-weight: 400;
    background-color: var(--main-btn-gray);
    color: var(--main-btn-black);
    border-radius: 4px;
    cursor: pointer;
}
.btn-icon-text:hover {
    background-color: var(--main-btn-gray-hover);
    color: var(--main-btn-black);
}

.tippy-box[data-theme~='tomato'] {
    background-color: var(--color-tomate);
    color: var(--color-yellow);
}

._fz18{
    font-size: 18px;
}
.lh18{
    line-height: 1.8;
}
.fw600{
    font-weight: 600;
}
.main_green{
    color: var(--main-turkuaz);
}
._nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link:hover .button_note{
    border: 1px solid var(--color-blue);
}
.button_note{
    padding: 5px 8px;
    padding-bottom: 5px;
    line-height: 1.2;
    vertical-align: middle;
    border-radius: 4px;
    background-color: var(--color-sky);
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_note svg {
    fill: var(--color-blue);
    margin: 0;
    width: 12px;
    height: 12px;
}
._yellow-contract{
    background: var(--yellow-contract);
}
._yellow-contract:hover{
    background: var(--yellow-contract-hover);
}
._green-contract{
    background: var(--green-contract);
}
._green-contract:hover{
    background: var(--green-contract-hover);
}
._red-contract{
    background: var(--red-contract);
}
._red-contract:hover{
    background: var(--red-contract-hover);
}
.divider_container{
    padding: 6px 0;
}
.divider{
    width: 100%;
    margin: 0;
    height: 1px;
    background: var(--main-btn-gray-hover);
}

.mt6{
    margin-top: 6px;
}
._hover-cell:hover {
    background: var(--main-btn-gray-hover);
    cursor: pointer;
}
.w100{
    width: 100%;
}
.mb0{
    margin-bottom: 0 !important;
}
.pb0{
    padding-bottom: 0 !important;
}
.popup{
    display: none;
    background-color: rgba(var(--popup-bg), 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}
.popup.active{
    display: block;
}
.popup_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: var(--color-white);
    z-index: 1001;
    text-align: left;
    border: none;
    border-radius: 5px;
}

.popup_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    position: relative;
}

.popup_close{
    position: static;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
}
.justify-between{
    justify-content: space-between;
}

.subheader{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--color-white);
    padding: 0 10px;
    box-shadow: 0 0 12px rgba(var(--login-box-shadow), 0.17);
}
.subheader_item{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 0 10px;
    padding-right: 0;
}

.subheader_item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 1;
    background: var(--color-purple);
    visibility: visible;
    pointer-events: none;
}

.subheader_title{
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 13px 10px;
    text-transform: uppercase;
    line-height: 1;
    color: var(--color-purple);
}
.subheader_ico{
    display: flex;
    align-items: center;
}
.subheader_arrow{
    background: var(--color-purple);
    display: flex;
    align-items: center;
    height: 20px;
    width: 33px;
    padding: 0 10px;
    margin-left: 15px;
    border: 2px solid var(--color-purple);
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}
.subheader_arrow svg{
    width: 15px;
    height: 15px;
}

.fake_scroll {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 14px 0;
    z-index: 10;
    background: var(--color-fake-white);
    display: flex;
    margin: 0 auto;
    box-shadow: 0 20px 10px 20px var(--color-fake-white);
}

.fake_items{
    white-space: nowrap;
}

.fake_dropdown{
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    margin-left: 10px;
    padding: 0 5px;
    text-align: left;
    transition: box-shadow 0.1s ease, width 0.1s ease;
    -webkit-tap-highlight-color: rgba(var(--color-rgb-black), 0);
}

.fake_dropdown_list{
    cursor: auto;
    position: absolute;
    display: none;
    outline: none;
    padding: 0 0;
    background: var(--color-white);
    text-shadow: none;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 8px 1px rgba(var(--color-fake-bg-blue), 0.5);
    z-index: 11;
    top: auto;
    bottom: 100%;
    left: 0;
    right: auto;
    margin: 0 0 1em;
    will-change: transform, opacity;
}

.fake_dropdown_text{
    display: flex;
    align-items: center;
    gap: 3px;
}
.fake_dropdown_text span{
    display: flex;
    align-items: center;
    transition: 0.2s all ease-in-out;
}

.fake_dropdown_item{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    height: auto;
    text-align: left;
    border-top: none;
    line-height: 1em;
    color: rgba(var(--color-rgb-black), 0.87);
    padding: 0.6rem 1.5rem;
    text-transform: none;
    font-weight: normal;
    box-shadow: none;
    white-space: nowrap;
}
.fake_dropdown_item:hover{
    background: rgba(var(--color-rgb-black), 0.05);
    color: rgba(var(--color-rgb-black), 0.95);
    z-index: 13;
}
.fake_dropdown_list.active{
    display: block;
}
.fake_dropdown_text .active{
    transform: rotate(180deg);
    transition: 0.2s all ease-in-out;
}
.fake_table_scroll{
    height: 31px;
    width: 100%;
    margin: 0 30px;
    position: relative;
    background: var(--color-white);
    box-shadow: 0 0 12px rgba(var(--login-box-shadow), 0.12);
    border-radius: 5px;
    overflow: hidden;
    padding: 0 3px;
    cursor: pointer;
}
.fake_table_scroll_container {
    height: 28px;
    overflow-x: auto;
    overflow-y: hidden;
}
.fake_table_scroll_scrollbar {
    height: 10px;
    background: var(--color-white);
}
body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 25px;
    overflow: hidden;
    border-radius: 5px;
}
body ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    /*background: rgba(var(--color-rgb-black), 0.25);*/
    transition: color 0.2s ease;
}
body ::-webkit-scrollbar-track {
    /*background: rgba(var(--color-rgb-black), 0.1);*/
    border-radius: 5px;
}

.fake_table_scroll_container::-webkit-scrollbar-thumb:hover {
    background: var(--color-main-turquaz);
}
.fake_table_scroll_container::-webkit-scrollbar-thumb {
    background: rgba(var(--color-main-bg-turquaz), 0.8);
}
.fake_table_scroll_container::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    height: 34px;
}
.fake_pagination_menu{
    list-style-position: outside;
    line-height: 1.6;
    display: flex;
    margin-bottom: 0;
    margin-left: 0;
}
.fake_pagination_item{
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-right: 0.0625rem;
    line-height: 1.5;
    border-radius: 5px;
    list-style-type: none;
    padding: 5px 12px;
    color: var(--color-black-original);
    position: relative;
    cursor: pointer;
}
.fake_pagination{
    display: flex;
    align-items: center;
    position: relative;
}
.fake_pagination_item.active{
    line-height: 1.5;
    padding: 5px 12px;
    background-color: var(--color-fake-grey);
    border-radius: 5px;
    color: var(--color-black-original);
}

.fake_pagination_item:hover{
    border-radius: 5px;
    background-color: rgba(var(--color-fake-gray), 0.44);
}
.pagination_action{
    list-style-type: none;
}
.pagination_action.disabled{
    opacity: 0.2;
    cursor: not-allowed;
    padding: 0.1875rem 0.625rem;
    color: var(--color-white-gray);
}
.pagination_prev::before{
    content: "" !important;
    display: inline-block;
    margin-right: 0.5rem;
    position: absolute;
    top: 11px;
    left: 0;
    width: 0.6rem;
    height: 0.6rem;
    border-left: 2px solid var(--color-black-original);
    border-top: 2px solid var(--color-black-original);
    border-radius: 1px;
    transform: rotate(-45deg);
    background-size: cover;
}
.pagination_next::before{
    content: '';
    display: block;
    position: relative;
    width: 0.6rem;
    height: 0.6rem;
}
.pagination_next::after{
    content: "" !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.6rem;
    height: 0.6rem;
    border-right: 2px solid var(--color-black-original);
    border-top: 2px solid var(--color-black-original);
    border-radius: 1px;
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
}

.object_tabs{
    display: flex;
    padding-right: 60px;
    z-index: 99;
    box-shadow: 0 0 12px rgba(var(--color-rgb-black), 0.12);
    position: sticky;
    background: var(--color-white);
    top: 0;
}

.object_tab{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 54px;
    padding: 9px 25px;
    color: var(--color-object-black);
    text-transform: uppercase;
    cursor: pointer;
}
.object_tab:hover {
    color: var(--color-blue);
}
.object_tab:hover:before {
    visibility: visible;
    opacity: 1;
}
.object_tab:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--color-blue);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.object_tab.active {
    background: var(--color-blue);
    font-weight: 600;
    color: var(--color-white);
}
.cart_object {
    padding: 10px 13px 13px 13px;
}
.cart_object_notifications {
    display: flex;
    margin: 0 -5px 10px -5px;
}
.cart_object_notify_item {
    flex: 1;
    padding: 0 5px;
}
.cart_object_notify_item_wrapper {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0 11px;
    background: var(--color-notify-white);
    color: var(--main-color-red);
    border-radius: 5px;
    min-width: 0;
}
.cart_object_notify_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--main-color-red);
    margin-right: 11px;
}
.cart_object_notify_icon svg{
    width: 16px;
    height: 16px;
    fill: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_object_notify_link{
    margin-left: 8px;
    cursor: pointer;
}
.table_status_sticky{
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    padding-right: 10px;
    width: calc(100vw - 40px);
}
.table_status_progress{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--color-progress-white);
    overflow: hidden;
}
.table_status_steps{
    display: flex;
    margin: 0;
    border: 0;
    border-top-left-radius: 0;
    height: 100%;
    overflow: hidden;
    box-shadow: none;
    line-height: 1.14285714em;
    flex-direction: row;
    align-items: stretch;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    direction: rtl;
}
.table_status_step_item{
    color: rgba(var(--color-rgb-black), 0.87);
    box-shadow: none;
    border: none;
    position: relative;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    flex: 1 1 0;
    padding: 3px 15px;
    padding-bottom: 3px;
    border-right: 1px solid var(--main-btn-gray);
    white-space: nowrap;
    padding-left: 22px;
    height: 25px;
    flex-wrap: nowrap;
    border-radius: 0;
    direction: ltr;
    background-color: var(--main-turkuaz)
}
.table_status_step_item._red{
    background-color: var(--color-step-red);
}
.table_status_step_descr{
    line-height: 1;
    color: var(--color-white);
    font-weight: normal;
}
.table_status_step_item::after{
    border-color: var(--main-btn-gray);
    color: var(--main-btn-gray);
    display: block;
    position: absolute;
    z-index: 2;
    content: "";
    top: 50%;
    right: 0%;
    border: medium none;
    border-style: solid;
    border-width: 0 1px 1px 0;
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    width: 18.5px;
    height: 18.5px;
    background-color: var(--main-turkuaz);
}
.table_status_step_item._red::after{
    background-color: var(--color-step-red);
}
.btn_table{
    justify-content: center;
    white-space: nowrap;
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 10px;
}
.btn_next{
    background: rgba(var(--bg-turkuaz-black), 0.09);
    border: 1px solid var(--main-turkuaz);
    color: var(--main-turkuaz);
}
.btn_next:hover{
    background: var(--main-turkuaz);
    color: var(--color-white);
}
.btn_next:hover svg path{
    fill: var(--color-white);
}
.btn_next svg{
    width: 15px;
    height: 15px;
    margin-left: 8px;
}
.btn_next svg path{
    fill: var(--main-turkuaz);
}
.btn_prev{
    background: rgba(var(--btn-bg-prev-orange), 0.12);
    color: var(--btn-prev-orange);
    border: 1px solid var(--btn-prev-orange);
    border-radius: 0 4px 4px 0;
}
.btn_prev:hover{
    background: var(--btn-prev-orange);
    color: var(--color-white);
}
.btn_prev:hover svg path{
    fill: var(--color-white);
}
.btn_prev svg{
    width: 17px;
    height: 17px;
}
.btn_prev svg path{
    fill: var(--btn-svg-orange);
}

.cart_object_status{
    display: flex;
    margin-bottom: 10px;
    padding: 11px 10px;
    background: var(--color-white);
    box-shadow: 0 0 12px rgba(var(--color-rgb-black), 0.12);
    border-radius: 5px;
}
.cart_object_status .btn_next{
    border-radius: 4px;
}
.cart_object_header{
    position: relative;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background: var(--color-white);
    box-shadow: 0 0 12px rgba(var(--color-rgb-black), 0.12);
    border-radius: 5px;
}
.cart_object_header_title{
    color: var(--color-object-black);
    margin-bottom: 21px;
    font-weight: 600;
    line-height: 1;
}
.cart_object_header_box:last-child{
    margin-left: auto;
}
.cart_object_dates{
    text-align: right;
}
.cart_object_date_item{
    margin-bottom: 10px;
    line-height: 1;
    color: var(--main-color-grey);
}
.cart_object_date_realty_id{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    left: auto;
    bottom: auto;
    background: var(--color-cart-object);
    align-items: center;
    height: 24px;
    padding: 0 8px;
    font-weight: 600;
    line-height: 12px;
    color: var(--color-white);
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
}
.cart_object_date_realty_id span{
    margin-left: 5px;
}
.cart_object_header_box{
    position: relative;
}
.cart_object_dates_popup{
    position: absolute;
    bottom: 100%;
    right: 0;
    display: none;
    align-items: center;
    margin-bottom: 10px;
    min-width: -moz-max-content;
    min-width: max-content;
    padding: 6px 10px;
    background: var(--color-cart-popup);
    border-radius: 5px;
    z-index: 1;
    pointer-events: none;
    font-weight: 600;
    color: var(--color-white);
}

.cart_object_dates_popup svg{
    fill: var(--main-turkuaz);
    margin-left: 5px;
    padding-right: 7px;
    width: 23px;
    height: 16px;
    display: flex;
    align-items: center;
}
.cart_object_dates_popup.active{
    display: flex;
}
.cart_object_header_title span{
    font-weight: 600;
}
.cart_object_separator{
    position: relative;
    padding-right: 8px;
    margin-right: 7px;
}
.cart_object_separator::before{
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 1px;
    height: 20px;
    background: var(--color-separator);
}
.cart_object_addresses{
    color: var(--color-addresses);
    margin-bottom: 8px;
    line-height: 1;
}

.cart_object_info{
    display: flex;
    margin-bottom: 10px;
}

.cart_object_info_main{
    width: calc(100% - 460px);
    margin-right: 10px;
}
.cart_object_info_sidebar{
    display: flex;
    flex-direction: column;
    width: 450px;
    flex-shrink: 0;
}

.cart_object_info_preview{
    padding: 9px;
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.cart_object_info_contract{
    display: flex;
    align-items: center;
    width: 100%;
    height: 53px;
    padding: 5px 9px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}

.cart_object_info_params{
    min-height: 131px;
    padding: 19px 9px 24px 9px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}
.combo_button{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--color-table-white);
    border-radius: 5px;
    margin-right: 7px;
}
.combo_button:hover{
    border: 1px solid var(--color-blue);
    border-radius: 5px;
}
.advertising-button {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 10px 0 7px;
    border-radius: 5px 0 0 5px;
    font-weight: 400;
    line-height: 15px;
    color: var(--color-blue);
    cursor: pointer;
    background: var(--color-table-white);
}
.advertising-button._default:before {
    content: "|";
    position: absolute;
    right: -2px;
    top: 8px;
    color: var(--main-color-grey);
    font-size: 15px;
}
.service-label {
    display: flex;
    align-items: center;
    padding: 0 11px 0 7px;
    color: var(--color-blue);
    height: 32px;
    background: var(--color-table-white);
    border-radius: 0 5px 5px 0;
}
.cart_preview_actions .combo_button{
    width: fit-content;
    position: relative;
}
.cart_preview_actions{
    display: flex;
    align-items: center;

    width: fit-content;
    position: relative;
}

.cart_preview_actions .advertising-button{
    position: relative;
}

.btn_combo{
    height: 32px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn_combo:hover{
    border: 1px solid var(--main-turkuaz);
    background: rgba(var(--bg-turkuaz-black), 0.09);
    color: var(--main-turkuaz);
}

.cart_preview_action_item:not(:last-child){
    margin-right: 7px;
}

.cart_preview_action_item, .combo_button{
    cursor: pointer;
}
.footer_bar_btn{
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-blue);
    background-color: var(--color-sky);
    margin-right: 7px;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
    height: 32px;
    line-height: 1.8;
    border: 1px solid var(--color-sky);
}
.footer_bar_btn._yellow:hover, .footer_bar_btn._yellow._active {
    border-color: var(--color-table-orange);
}
.footer_bar_btn._yellow {
    background: rgba(var(--btn-bg-prev-orange), 0.1215686275);
    color: var(--color-table-orange);
    border: 1px solid transparent;
}

.btn_table_blue{
    width: 42px;
    min-width: auto;
    background: var(--color-sky);
    color: var(--color-blue);
    border-color: var(--color-sky);
    height: 32px;
    padding: 3px 8px;
    border-radius: 4px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.btn_table_blue::after{
    content: '';
    height: 8px;
    width: 8px;
    background: var(--color-table-red);
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 3px;
}
.cart_object_slider{
    margin-top: 8px;
}
.gallery-slider .blur{
    position: absolute;
    top: -13px;
    right: -13px;
    bottom: -13px;
    left: -13px;
    display: block;
    opacity: 0.4;
    z-index: -1;
    background: no-repeat center;
    background-size: cover;
    filter: blur(13px);
    background: rgba(var(--color-rgb-black), 0.25);
}
.gallery-slider .swiper-slide{
    border-radius: 5px;
    overflow: hidden;
}

.gallery-slider .swiper-button-next,
.gallery-slider .swiper-button-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.35;
}
.gallery-slider .swiper-button-next:hover,
.gallery-slider .swiper-button-prev:hover{
    opacity: 1;
}
.gallery-slider .swiper-button-next{
    margin-right: 15px;
}
.gallery-slider .swiper-button-prev{
    margin-left: 15px;
    transform: rotate(180deg);
}

.gallery-slider{
    position: relative;
}

.gallery-slider .swiper-button-next:after,
.gallery-slider .swiper-button-prev:after{
    font-size: 16px;
    content: '';
}

.gallery-slider .swiper-button-prev.swiper-button-disabled,
.gallery-slider .swiper-button-next.swiper-button-disabled{
    display: none;
}

.slider_info{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}
.slider_info_wrapper svg{
    width: 21px;
    height: 21px;
    margin-right: 9px;
    fill: var(--color-white);
}
.slider_info_wrapper{
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 10px;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.37);
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.gallery-thumbs{
    background: #f5f6fa;
}
.cart_contract{
    padding: 0 12px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 3px;
    background: var(--color-notify-white);
    color: var(--color-label-red);
}
.cart_object_param_title{
    font-size: 24px;
    line-height: 1;
    color: var(--main-color-grey);
    font-style: italic;
    margin-bottom: 25px;
}
.cart_object_data_item:first-child{
    padding-left: 25px;
}
.cart_object_data_item{
    position: relative;
    text-align: left;
    padding-right: 70px;
}
.cart_object_data_item_price{
    white-space: nowrap;
    margin-bottom: 6px;
    line-height: 1;
    min-height: 18px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-object-black);
}
.cart_object_data_item_price.blue{
    color: var(--color-blue);
    font-size: 20px;
    font-weight: 600;
    min-height: 18px;
}

.cart_object_data_item_name{
    line-height: 1;
    font-size: 13px;
    color: var(--color-addresses);
}

.cart_object_data_item::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: 34px;
    top: 0;
    background: var(--color-label-separator);
}
.cart_responsible_nav{
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px 10px 0 10px;
    margin: -10px -10px 0 -10px;
    z-index: 2;
}

.cart_responsible_nav_item{
    padding: 10px 20px;
    color: #3588F3;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.cart_responsible_nav_item.active{
    background: #fff;
    color: #444444;
    text-decoration: none;
    cursor: default;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}
.cart_object_responsible_wrapper{
    padding: 25px 20px;
    min-height: 132px;
}
.cart_object_responsible{
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    background: #fff;
}
.cart_responsible_img{
    width: 80px;
    height: 80px;
    float: left;
}

.cart_responsible_img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
    border-radius: 50%;
    font-weight: 600;
}

.cart_responsible_info{
    padding-left: 100px;
    line-height: 1;
}

.cart_responsible_info_name{
    cursor: pointer;
    font-size: 14px;
    color: var(--color-blue);
    line-height: 1;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart_responsible_info_role{
    font-size: 13px;
    line-height: 1;
    color: var(--main-color-grey);
    margin-bottom: 8px;
}


.cart_responsible_info_mess{
    color: var(--color-blue);
    padding-top: 6px;
    cursor: pointer;
}

.cart_object_responsible_customer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: left;
    color: var(--color-white);
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    background: var(--color-blue);
}

.cart_responsible_contact{
    padding-top: 20px;
    line-height: 18px;
    font-style: italic;
    color: var(--color-info-red);
}

.notes_tabs{
    display: flex;
    overflow: hidden;
    padding: 10px 10px 0 10px;
    margin: 0 -10px 0 -10px;
    z-index: 2;
}

.notes_tabs_nav_item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    padding: 0 24px;
    color: var(--color-blue);
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.notes_tabs_nav_item.active{
    background: var(--color-white);
    text-decoration: none;
    cursor: default;
    color: var(--color-object-black);
    box-shadow: 0 0 12px rgba(var(--color-rgb-black), 0.12);
}

.notes_wrap{
    height: 500px;
    border: 1px solid var(--color-note-white);
    border-radius: 7px;
    overflow-y: auto;
    position: relative;
}
.notes_tabs_content{
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 12px rgba(var(--color-rgb-black), 0.12);
    background: var(--color-white);
    padding: 8px;
}

.notes_wrapper_items{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: auto;
    margin-bottom: 2px;
}

.notes_log_notify{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 30px 0 21px 0;
}

.notes_log_notify-text{
    line-height: 22px;
    text-align: center;
    color: var(--color-addresses);
    font-size: 13px;
    padding: 0 40px;
}
.notes_log_notify-text svg{
    margin-right: 3px;
}

.notes_log_day{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 21px 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var( --color-addresses);
}

.notes_log_day_text{
    display: inline-flex;
    align-items: center;
    height: 31px;
    padding: 0 30px;
    line-height: 1;
    background: var(--main-btn-gray-hover);
    border-radius: 18px;
}

.notes_log_item{
    position: relative;
    padding: 10px;
}
.notes_log_message{
    display: flex;
}
.notes_log_message_avatar{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.notes_log_message_avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    overflow: hidden;
    border-radius: 50%;
    font-weight: 600;
}
.notes_log_message_content{
    flex: 1;
}
.notes_log_message_content_name{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1;
    color: var(--color-blue);
}
.notes_log_message_content_name span{
    margin-left: auto;
    font-size: 12px;
    font-style: italic;
    color: var(--color-separator);
}
.notes_log_message_content_text{
    font-size: 14px;
    line-height: 19px;
    color: var(--color-addresses);
    word-break: break-word;
    white-space: pre-wrap;
}
.notes_send_area{
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    border: 1px solid var(--color-note-white);
    border-radius: 7px;
    margin-top: 8px;
    background: var(--color-fake-white);
}
.notes_send_area_wrapper{
    max-height: 130px;
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    height: 100%;
    width: 100%;
    border: 0;
    min-height: 39px;
    padding-right: 30px;
}
.notes_send_input{
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-right: 26px;
    color: rgb(var(--color-rgb-black));
    background: var(--color-fake-white);
    border: none;
    width: 100%;
}
.notes_send_input::placeholder{
    font-style: italic;
    color: rgba(var(--color-rgb-black), 0.6);
}

.notes_send_btn{
    position: absolute;
    right: 5px;
    bottom: 2px;
    margin: 0;
    padding: 5px;
    border: 0;
    background: transparent;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
}

.cart_object_params{
    padding-top: 23px;
    box-shadow: 0 0 12px rgba(var(--color-rgb-black), 0.12);
    background: var(--color-white);
    border-radius: 5px;
}

.cart_object_params_block{
    display: flex;
    flex-direction: column;
}
.cart_object_params_title{
    padding: 0 28px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--main-btn-gray-hover);
    color: var(--color-object-black);
    line-height: 19px;
}
.cart_object_params_single_rows{
    padding: 22px 0 0 0;
}
.cart_object_params_single_row{
    display: flex;
    align-items: center;
    padding: 0 35px;
    min-height: 32px;
}
.single_text{
    margin-right: 16px;
    color: var(--main-color-grey);
}
.table_head_cell_content_item_label{
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: baseline;
    border-radius: 3px;
    padding: 1px 4px;
    margin-top: 4px;
}
.cart_object_params_single_row:hover {
    background: var(--color-params-hover);
    border-radius: 5px;
}
.cart_object_params_columns{
    -moz-columns: 2;
    columns: 2;
    padding: 22px 0;
}
.cart_object_params_columns .cart_object_params_columns_item{
    width: 100%;
    display: inline-block;
}
.cart_object_params_columns_item_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.3;
    padding: 0 35px;
    min-height: 32px;
}

.cart_object_param_name{
    white-space: nowrap;
    padding-right: 100px;
    font-size: 14px;
    line-height: 1;
    color: var(--main-color-grey);
}

.cart_object_param_value{
    text-align: right;
    color: var(--color-object-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cart_object_params_columns_item:hover {
    background: var(--color-params-hover);
    border-radius: 5px;
}

.cart_object_params_inserted_item{
    padding: 10px 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.cart_object_params_inserted_item:hover{
    background: var(--color-params-hover);
}
.cart_object_inserted_name{
    white-space: nowrap;
    color: var(--main-color-grey);
}
.cart_param_description{
    padding: 28px 35px 35px 35px;
    max-width: 900px;
    position: relative;
}
.cart_param_description_text{
    position: relative;
}
.cart_param_description_text_value{
    white-space: pre-wrap;
    padding: 0;
    height: 126px;
    word-wrap: break-word;
    -o-tab-size: 4;
    tab-size: 4;
    -moz-tab-size: 4;
    overflow: hidden;
    margin-bottom: 0;
    transition: height 0.2s ease-out;
    box-shadow: inset 0 10px 10px 10px var(--color-white);
    text-align: left;
    font-size: 15px;
}

.cart_param_description_text_value.active{
    height: auto;
}

.cart_param_descr_btn{
    box-shadow: 0px -9px 10px 5px rgba(255, 255, 255, 0.65);
    position: absolute;
    right: 0;
    bottom: -28px;
    display: flex;
    height: 20px;
    width: 100%;
    cursor: pointer;
}
.cart_param_descr_btn_content, .cart_param_descr_btn_content span{
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px 0;
    color: var(--color-blue);
    background: var(--color-white);
    font-weight: 600;
    text-transform: uppercase;
}

.cart_param_descr_btn_content svg{
    fill: var(--color-blue);
    transform: scale(0.7);
}
.cart_param_descr_btn_content svg.active{
    transform: rotate(180deg) scale(0.7);
}
