@import './root.css';
.table_cell{
    position: relative;
}
.table_row_separator{
    height: 11px;
    background: var(--color-table-grey);
}
.btn_table_blue{
    width: 42px;
    min-width: auto;
    background: var(--color-sky);
    color: var(--color-blue);
    border-color: var(--color-sky);
    height: 32px;
    padding: 3px 8px;
    border-radius: 4px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.btn_table_blue::after{
    content: '';
    height: 8px;
    width: 8px;
    background: var(--color-table-red);
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 3px;
}
.footer_bar_btn{
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-blue);
    background-color: var(--color-sky);
    margin-right: 7px;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
    height: 32px;
    line-height: 1.8;
    border: 1px solid var(--color-sky);
}
.footer_bar_btn._yellow:hover, .footer_bar_btn._yellow._active {
    border-color: var(--color-table-orange);
}
.footer_bar_btn._yellow {
    background: rgba(var(--btn-bg-prev-orange), 0.1215686275);
    color: var(--color-table-orange);
    border: 1px solid transparent;
}
.advertising-button._default {
    position: relative;
    background: var(--color-table-white);
    color: var(--color-blue);
    border-color: var(--color-table-white);
    border-style: solid;
}
.combo_button{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--color-table-white);
    border-radius: 5px;
    margin-right: 7px;
}
.combo_button:hover{
    border: 1px solid var(--color-blue);
    border-radius: 5px;
}
.advertising-button {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 10px 0 7px;
    border-radius: 5px 0 0 5px;
    font-weight: 400;
    line-height: 15px;
    cursor: pointer;
}
.advertising-button._default:before {
    content: "|";
    position: absolute;
    right: -2px;
    top: 6px;
    color: var(--main-color-grey);
    font-size: 15px;
}
.service-label {
    display: flex;
    align-items: center;
    padding: 0 11px 0 7px;
    color: var(--color-blue);
    height: 32px;
    background: var(--color-table-white);
    border-radius: 0 5px 5px 0;
}
.footer_actions{
    display: flex;
    margin-left: auto;
    margin-right: 7px;
    height: 100%;
    align-items: center;
}

.table_row_object{
    background: var(--color-white);
}
.table_row_cell{
    position: relative;
}
.table_status{
    position: relative;
    z-index: 20;
    border-bottom: 1px solid var(--color-table-gray);
    display: flex;
    align-items: center;
    height: 35px;
    min-height: 35px;
}

.table_info_object{
    background-color: var(--color-white);
}
.table_info_cell{
    min-height: 50px;
    flex: 1;
    border: 1px solid var(--color-table-gray);
    vertical-align: top;
}
.table_info_cell._check{
    position: sticky;
    left: 0;
    /*max-width: 35px;*/
    max-width: fit-content;
    width: 100%;
    background-color: var(--color-white);
    z-index: 10;
    border-left: none;
}
.table_cell_content{
    max-height: 93px;
    padding: 3px 7px;
    overflow: auto;
}
.table_cell_id{
    text-align: center;
    display: block;
    font-style: italic;
    line-height: 1.8;
    white-space: nowrap;
    color: var(--color-table-granit);
}

.table_info_cell._shadow .table_cell_content:after {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    width: 10px;
    height: 100%;
    right: -10px;
    border-left: 2px solid var(--color-table-gray);
    background: var(--gradient-linear-table-granit);
}
.table_cell_btn {
    background-color: var(--main-btn-gray-hover);
    color: var(--main-btn-black);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 185px;
    margin: 2px 0;
    padding: 2px 8px;
    white-space: nowrap;
    text-align: left;
    line-height: 1.6;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}
.table_cell_btn svg{
    width: 12px;
    height: 12px;
    margin-right: 7px;
    fill: var(--color-table-granit);
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_info_cell._contacts,
.table_info_cell._title,
.table_info_cell._user_id,
.table_info_cell._user,
.table_info_cell._partner {
    min-width: 171px;
    max-width: 171px;
}
.table_info_cell._photo {
    padding: 5px;
    min-width: 120px;
    max-width: 120px;
}
.table_info_cell._ad {
    min-width: 240px;
}
.table_info_cell._realty_type {
    min-width: 130px;
}
.table_info_cell._house {
    min-width: 60px;
}
.table_info_cell._price {
    position: relative;
    min-width: 140px;
}
.table_info_cell._floor {
    min-width: 60px;
}
.table_info_cell._mydescription,
.table_info_cell._comment {
    position: relative;
    min-width: 340px;
    max-width: 340px;
    vertical-align: top;
}

.table_img{
    max-width: 100%;
    width: 108px;
    height: 82px;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 1px;
    overflow: hidden;
}
.table_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.table_img:hover .table_img_shadow{
    opacity: 1;
    visibility: visible;
}
.table_img_shadow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    transition: 0.2s;
}
.table_img_shadow_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background: rgba(var(--color-rgb-black), 0.8);
    cursor: pointer;
}
.table_img_shadow_btn svg{
    width: 20px;
    height: 20px;
}

.table_info_cell._photo a{
    display: none;
}
.table_info_cell._photo .table_img{
    display: block;
}
.no-access{
    min-width: 16px;
    padding: 3px 5px;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 8px;
    border-radius: 3px;
    background-color: var(--color-table-redwhite);
    border-color: var(--color-table-redblack);
    color: var(--color-white);
    width: fit-content;
}
.contact_box{
    max-height: 93px;
    padding: 3px 7px;
    margin-top: 0.14285714em;
}

.table_cell_contact_content{
    display: none;
}
.state_content_current{
    display: flex;
    align-items: center;
}
.state_contact{
    position: relative;
}
.state_contact.active .table_cell_contact_content{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    cursor: auto;
    outline: none;
    min-width: -moz-max-content;
    min-width: max-content;
    margin: 0;
    padding: 0 0;
    background: var(--color-white);
    text-shadow: none;
    text-align: left;
    box-shadow: 0 0 8px 1px rgba(var(--box-shadow-table), 0.5);
    z-index: 11;
    will-change: transform, opacity;
    border-radius: 5px;
    overflow: hidden;
}

.circle{
    width: 12px;
    height: 12px;
    cursor: default;
    border-radius: 50%;
    margin-right: 0.38571429rem;
}

.blue_circle{
    background: var(--blue-circle);
}
.gold_circle{
    background: var(--gold-circle);
}
.red_circle{
    background: var(--color-table-redwhite);
}
.gray_circle{
    background: var(--gray-circle);
}

.table_cell_content_item{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    height: auto;
    text-align: left;
    border-top: none;
    line-height: 1em;
    color: rgba(var(--color-rgb-black), 0.87);
    padding: 0.6rem 1.5rem;
    text-transform: none;
    font-weight: normal;
    box-shadow: none;
}
.table_cell_content_item:hover{
    background: rgba(var(--color-rgb-black), 0.05);
    color: rgba(var(--color-rgb-black), 0.95);
    z-index: 13;
}

.state_content_current{
    cursor: pointer;
}

.contact_phone, .rel_ad{
    color: var(--color-blue);
    cursor: pointer;
    padding: 4px 0;
    margin-bottom: 8px;
}
.rel_ad{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
.contact_phone:hover, .rel_ad:hover{
    text-decoration: underline;
}

.base_table_content{
    height: 93px;
    min-width: 150px;
    padding: 3px 7px;
    overflow: auto;
}

.table_label{
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_location{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_type{
    margin-right: 4px;
    font-style: normal;
    color: var(--main-color-grey);
}
.base_table_ellipsis{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.base_table_location svg{
    width: 14px;
    height: 14px;
    margin-right: 3px;
    fill: var(--color-location);
}
.price_arrow{
    position: relative;
}
.price_box{
    display: none;
    padding: 8px 13px;
    max-height: 350px;
    overflow-y: auto;
    position: absolute;
    inset: 0 0 auto auto;
    margin: 0;
    right: calc(100% );
    background: var(--color-white);
    box-shadow: 0 0 4px 3px rgba(var(--color-rgb-black), 0.25);
    border-radius: 5px;
    z-index: 10100;
}
.price_box_wrapper{
    min-width: 300px;
    padding: 10px;
}
.price_content{
    border-top: 1px solid var(--color-price);
    border-bottom: 1px solid var(--color-price);
}
.price_box_label{
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: 600;
}
.price_content{
    padding: 10px 0;
}
.price_content_item{
    white-space: nowrap;
}
.price_content_item td{
    padding: 4px 0;
    padding-right: 20px;
}
.price_box_stats{
    padding-top: 10px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: 600;
}
.color_green_light{
    color: var(--color-green-light);
}
.price_arrow{
    cursor: pointer;
    padding-left: 5px;
}
.price_arrow svg{
    width: 15px;
}
.price_arrow:hover .price_box{
    display: block;
}
.price_box:hover{
    display: block;
}
.liquid_label svg{
    margin: 1px 6px 0 0;
}
.liquid_label{
    padding: 3px 10px;
    border-radius: 10px;
    white-space: nowrap;
    font-weight: 600;
    display: inline-flex;
    margin-bottom: 5px;
    cursor: pointer;
}
.liquid_label._green{
    color: var(--main-turkuaz);
    background: var(--bg-with-turkuaz);
}
.liquid_price{
    font-weight: 600;
    line-height: 16px;
}
.text_event {
    display: block;
    padding: 2px 0;
    padding-left: 5px;
}
.multi-ellipsis{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.multi-ellipsis._four {
    -webkit-line-clamp: 4;
}
._no-scroll{
    overflow: hidden ;
}
.table_footer_bar{
    height: 51px;
}
.footer_bar_date{
    display: flex;
    line-height: 15px;
    align-items: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    padding: 3px 8px;
    background: var(--main-btn-gray-hover);
    color: var(--color-footer-gray);
    height: 20px;
    cursor: pointer;
}
.footer_bar_date:first-child{
    margin-bottom: 3px;
}
.footer_bar_date svg{
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.table_info_cell._user_id{
    position: relative;
}

.table_cell_user_info{
    display: none;
    position: absolute;
    background: var(--color-white);
    box-shadow: 0 0 4px 3px rgba(var(--color-rgb-black), 0.25);
    border-radius: 5px;
    padding: 6px 12px 12px 12px;
    left: 95%;
    top: 0;
    z-index: 1001;
}
.table_cell_user:hover + .table_cell_user_info{
    display: block;
}
.table_cell_user_info:hover{
    display: block;
}

.table_cell_user_name{
    cursor: pointer;
}

.table_cell_user_info_name{
    color: var(--color-cell-black);
    margin-bottom: 10px;
}

.table_cell_user_info_item{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    color: var(--color-cell-black);
}
.table_cell_user_info_item:last-child{
    margin-bottom: 0;
}
.table_cell_user_info_item:hover svg{
    fill: var(--color-blue);
}
.table_cell_user_info_item:hover{
    color: var(--color-blue);
    cursor: pointer;
}

.table_cell_user_info_item svg{
    display: flex;
    align-items: center;
    margin-right: 13px;
    fill: var(--color-cell-black);
    width: 18px;
    height: 18px;
}
.btn_gray{
    background-color: var(--main-btn-gray);
    color: var(--main-btn-black);
}
.btn_gray:hover{
    background-color: var(--main-btn-gray-hover);
    color: var(--main-btn-black);
}
img{
    width: 100%;
    height: 100%;
}

.table_head_cell_content_item_label{
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: baseline;
    border-radius: 3px;
    padding: 1px 4px;
    margin-left: 4px;
}

.popup_main_cell_item.three{
    width: 176.5px;
}

.popup_btn_research{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    padding: 0 15px;
    border-radius: 5px;
    background: var(--main-btn-gray-hover);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-black);
}

.popup_additional_address_wrapper{

}
.popup_additional_address_wrapper{
    z-index: 3;
    position: relative;
}
.popup_additional_address{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    cursor: pointer;
    z-index: 2;
    background: var(--color-white);
    color: var(--color-blue);
}
.popup_additional_address svg{
    fill: var(--color-blue);
}
.popup_additional_address span{
    display: flex;
    align-items: center;
}

.popup_additional_address::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
    height: 1px;
    background: var(--color-blue);
}

.popup_additional_address.active svg{
    transform: rotate(180deg);
}

.tab_radio_info.active{
    display: flex;
}
